body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.left-section {
    flex: 1;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #6b0042;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #470058;
}

#imageContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image-box {
    width: 300px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 16px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}
